.hhh {
    color: rgb(255, 98, 0);
    margin: auto;
    background-color:antiquewhite ;
}

.sss {
    color: rgb(133, 76, 40);
    margin: auto;
    background-color:antiquewhite ;
}
.zzz {
    color: rgb(133, 76, 40);
    margin: auto;
    background-color:antiquewhite ;
}